$form_width: 800px;

input {
    font: {
        family: $font_family;
        size: 14pt;    
    }
    
    text-align: center;
}

#in_zip {
    position: relative;
    
    width: 48px;
    margin: 15px 0 30px 5px;
    padding: 2px 0 2px 2px;   
}

#petsit_form {
    position: relative;
    
    width: $form_width;
    
    border-radius: 16px 4px;
    
    background: scale-color($background_color, $lightness: 50%);
}

#in_start_hour, #in_end_hour {
    width: 30px;   
}

#in_start_date, #in_end_date {
    width: 80px;   
}

#petsit_times span {
    position: relative;
    &:nth-child(2n) {
        left: 14px;
    }   
}

#add_petsit_button {
    @extend %button;
    position: absolute;
    display: inline-block;
    
    left: $form_width / 8;
    top: 25px;
    
}

#remove_petsit_button {
    @extend %button;
    position: absolute;
    
    left: $form_width / 8;
    top: 85px;
    
}

#petsit_cart_section {
    position: relative;
    
    height: 140px;
    margin: 20px 0 40px;

    text-align: left;   
}

#petsit_cart {
    position: absolute;
    display: inline-block;
    
    left: $form_width / 2 - 90px;
    
    width: $form_width / 2;
    height: 145px;
    padding: 5px 15px 5px 20px;
    margin: 0 40px;
    
    background: scale-color($background-color, $lightness: 75%);
    
    border: {
        width: 1px;
        style: solid;
        color: $primary_color;
        radius: 16px 4px;   
    }
}

.petsit_header {
    position: relative;
    
    margin: 4px 0;
    padding: 2px 10px;
    
    border: {
        radius: 4px;   
    }
    
    cursor: pointer;
    background: scale-color($background-color, $lightness: 50%);
    
    &:nth-child(2n) {
        background: scale-color($background-color, $lightness: 25%);   
    }
    
    &:hover {
        box-shadow: 0 0 2px $primary_color;
    }
}

#selected_header {
    background: $tertiary_color;
    color: $secondary_color;
    box-shadow: 0 0 5px $tertiary_color;   
}

%nav_arrow {
    position: absolute;
    
    top: 50px;
    z-index: 1;
    
    font: {
        size: 32pt;   
    }
    
    text-shadow: 0 0 2px $primary_color;
    
    cursor: pointer;
    
    &:hover {
        color: $tertiary_color;
        text-shadow: 0 0 5px $tertiary_color;   
    }
}

#next_cart_page {
    @extend %nav_arrow;
    
    right: -12px;   
}

#prev_cart_page {
    @extend %nav_arrow;
    
    right: $form_width / 2 + 55px;   
}

#petsit_estimate {
    position: relative;
    display: inline-block;
    
    background: scale-color($background-color, $lightness: 80%);
    
    border: {
        width: 2px;
        style: inset;
        color: $primary_color;
        radius: 16px 4px;   
    }
    
    width: 80%;
    padding: 20px 20px;
    margin: 0 20px;
    
    font: {
        size: 16pt;
        }   
}

#petsit_login_reminder {
    font-style: italic;   
}

#petsit_submit {
    @extend %button;
    
    margin: 10px 0;
    
}