:root {
    
    /* primary color */
    /** used for default backgrounds */
    --color-primary-white: hsl(243, 100%, 91%);
    --color-primary-lightest: hsl(243, 100%, 80%);
    --color-primary-lighter: hsl(243, 100%, 69%);
    --color-primary-light: hsl(243, 100%, 58%);
    --color-primary: hsl(243, 100%, 50%);
    --color-primary-dark: hsl(243, 100%, 36%);
    --color-primary-darker: hsl(243, 100%, 23%);
    --color-primary-darkest: hsl(243, 100%, 11%);
    --color-primary-black: hsl(243, 100%, 5%);

    /* secondary color */
    /** used for default foregrounds */
    --color-secondary-white: hsl(18, 89%, 91%);
    --color-secondary-lightest: hsl(18, 89%, 80%);
    --color-secondary-lighter: hsl(18, 89%, 69%);
    --color-secondary-light: hsl(18, 89%, 58%);
    --color-secondary: hsl(18, 89%, 48%);
    --color-secondary-dark: hsl(18, 89%, 36%);
    --color-secondary-darker: hsl(18, 89%, 23%);
    --color-secondary-darkest: hsl(18, 89%, 11%);
    --color-secondary-black: hsl(18, 89%, 5%);

    /* accent color */
    /** used to clash with the primary colors */
    --color-accent-white: hsl(80, 97%, 91%);
    --color-accent-lightest: hsl(80, 97%, 80%);
    --color-accent-lighter: hsl(80, 97%, 69%);
    --color-accent-light: hsl(80, 97%, 58%);
    --color-accent: hsl(80, 97%, 60%);
    --color-accent-dark: hsl(80, 97%, 36%);
    --color-accent-darker: hsl(80, 97%, 23%);
    --color-accent-darkest: hsl(80, 97%, 11%);
    --color-accent-black: hsl(80, 97%, 5%);

    /* generic utility colors */
    --color-success: hsl(130, 100%, 35%);
    --color-error: hsl(0, 100%, 35%);
    --color-black: hsl(0, 0%, 0%);
    --color-white: hsl(0, 0%, 100%);

    --color-pattitude-background: hsl(118, 33%, 35%);
    --color-pattitude-foreground: hsl(118, 33%, 75%);

    --color-fantasea-background: hsl(195, 100%, 45%);
    --color-fantasea-foreground: hsl(195, 100%, 85%);

    --color-custard-commercial-background: hsl(41, 100%, 40%);
    --color-custard-commercial-foreground: hsl(41, 100%, 85%);

    --color-custard-energy-background: hsl(30, 71%, 80%);
    --color-custard-energy-foreground: hsl(30, 71%, 25%);

    --color-custard-wp-background: hsl(238, 45%, 11%);
    --color-custard-wp-foreground: hsl(36, 97%, 61%);

    --color-lang-background: hsl(243, 100%, 50%);
    --color-lang-foreground: hsl(243, 100%, 91%);

    --color-miredo-background: hsl(104, 72%, 23%);
    --color-miredo-foreground: hsl(104, 72%, 58%);

    --color-projmgr-background: hsl(224, 63%, 68%);    
    --color-projmgr-foreground: hsl(224, 63%, 18%);

    --color-canaille-background: hsl(129, 100%, 79%);    
    --color-canaille-foreground: hsl(1, 80%, 27%);

    --color-stop: 75%;
}

/* global style elements */
body {
    color: var(--color-white);
    background: var(--color-primary-black);
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

a {
    color: var(--color-white);
}

/* layout elements for mobile screens */ 
/*
body {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.slide {
    display: flex;
    flex-direction: column;
    padding: 2.5% 2.5% 17.5%;
}

.slide--first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}*/


/* layout elements, for larger screens */
@media (min-width: 500px) and (orientation: landscape) {
    
    body {
        padding: 0;
        margin: 0;
        font-size: 1.5em;
    }

    .slideshow-container {
        background: red;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .slideshow {
        position: relative;
        width: 100%;
        margin: 2rem;
        border-radius: 2rem;
        text-align: center;
    }

    .slides {
        position: relative;
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }

    .slide {
        display: grid;
        padding: 2% 10% 8%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 50px;

        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 0px;
        box-sizing: border-box;
        background: white;
        transform-origin: center;
        transform: scale(1);
        scroll-snap-align: center;
    }

    .slide .name {
        text-align: right;
    }
}

.slide--first {
    background: linear-gradient(90deg, var(--color-primary-black) var(--color-stop), var(--color-pattitude-background));
}

.slide--pattitude {
    background: linear-gradient(90deg, var(--color-pattitude-background) var(--color-stop), var(--color-fantasea-background));
}

.slide--pattitude, .slide--pattitude a {
    color: var(--color-pattitude-foreground);
}

.slide--fantasea {
    background: linear-gradient(90deg, var(--color-fantasea-background) var(--color-stop), var(--color-custard-commercial-background));
}

.slide--fantasea, .slide--fantasea a {
    color: var(--color-fantasea-foreground);
}

.slide--custard-commercial {
    background: linear-gradient(90deg, var(--color-custard-commercial-background) var(--color-stop), var(--color-custard-energy-background));
}

.slide--custard-commercial, .slide--custard-commercial a {
    color: var(--color-custard-commercial-foreground);
}

.slide--custard-energy {
    background: linear-gradient(90deg, var(--color-custard-energy-background) var(--color-stop), var(--color-custard-wp-background));
}

.slide--custard-energy, .slide--custard-energy a {
    color: var(--color-custard-energy-foreground);
}

.slide--custard-wp {
    background: linear-gradient(90deg, var(--color-custard-wp-background) var(--color-stop), var(--color-miredo-background));
}

.slide--custard-wp, .slide--custard-wp a {
    color: var(--color-custard-wp-foreground);
}

.slide--miredo {
    background: linear-gradient(90deg, var(--color-miredo-background) var(--color-stop), var(--color-lang-background));
}

.slide--miredo, .slide--miredo a {
    color: var(--color-miredo-foreground);
}

.slide--lang {
    background: linear-gradient(90deg, var(--color-lang-background) var(--color-stop), var(--color-projmgr-background));
}

.slide--lang, .slide--lang a {
    color: var(--color-lang-foreground);
}

.slide--projmgr {
    background: linear-gradient(90deg, var(--color-projmgr-background) var(--color-stop), var(--color-canaille-background));
}

.slide--projmgr, .slide--projmgr a {
    color: var(--color-projmgr-foreground);
}

.slide--canaille {
    background: linear-gradient(90deg, var(--color-canaille-background) var(--color-stop), var(--color-primary-black));
}

.slide--canaille, .slide--canaille a {
    color: var(--color-canaille-foreground);
}