:root {

    /* theme layout */
    --nav-blur: 0.25rem;
    --transition-duration: 0.3s;
    
    /* primary color */
    /** used for default backgrounds */
    --color-primary-white: hsl(243, 100%, 91%);
    --color-primary-lightest: hsl(243, 100%, 80%);
    --color-primary-lighter: hsl(243, 100%, 69%);
    --color-primary-light: hsl(243, 100%, 58%);
    --color-primary: hsl(243, 100%, 50%);
    --color-primary-dark: hsl(243, 100%, 36%);
    --color-primary-darker: hsl(243, 100%, 23%);
    --color-primary-darkest: hsl(243, 100%, 11%);
    --color-primary-black: hsl(243, 100%, 5%);

    /* secondary color */
    /** used for default foregrounds */
    --color-secondary-white: hsl(18, 89%, 91%);
    --color-secondary-lightest: hsl(18, 89%, 80%);
    --color-secondary-lighter: hsl(18, 89%, 69%);
    --color-secondary-light: hsl(18, 89%, 58%);
    --color-secondary: hsl(18, 89%, 48%);
    --color-secondary-dark: hsl(18, 89%, 36%);
    --color-secondary-darker: hsl(18, 89%, 23%);
    --color-secondary-darkest: hsl(18, 89%, 11%);
    --color-secondary-black: hsl(18, 89%, 5%);

    /* accent color */
    /** used to clash with the primary colors */
    --color-accent-white: hsl(80, 97%, 91%);
    --color-accent-lightest: hsl(80, 97%, 80%);
    --color-accent-lighter: hsl(80, 97%, 69%);
    --color-accent-light: hsl(80, 97%, 58%);
    --color-accent: hsl(80, 97%, 60%);
    --color-accent-dark: hsl(80, 97%, 36%);
    --color-accent-darker: hsl(80, 97%, 23%);
    --color-accent-darkest: hsl(80, 97%, 11%);
    --color-accent-black: hsl(80, 97%, 5%);

    /* generic utility colors */
    --color-success: hsl(130, 100%, 35%);
    --color-error: hsl(0, 100%, 35%);
    --color-black: hsl(0, 0%, 0%);
    --color-white: hsl(0, 0%, 100%);

    /* theme colors */
    --color-nav: var(--color-white);
    --color-background: var(--color-black);
    --color-text: var(--color-white);

    --color-title-background: black;
    --color-title-foreground: white;
    --color-title-nav: var(--color-white);

    --color-pattitude-background: hsl(118, 33%, 35%);
    --color-pattitude-foreground: hsl(118, 33%, 75%);
    --color-pattitude-nav: hsl(118, 33%, 35%);

    --color-fantasea-background: hsl(195, 100%, 45%);
    --color-fantasea-foreground: hsl(195, 100%, 85%);
    --color-fantasea-nav: hsl(195, 100%, 85%);

    --color-custard-commercial-background: hsl(41, 100%, 40%);
    --color-custard-commercial-foreground: hsl(41, 100%, 85%);
    --color-custard-commercial-nav: hsl(41, 100%, 85%);

    --color-custard-energy-background: hsl(30, 71%, 80%);
    --color-custard-energy-foreground: hsl(30, 71%, 25%);
    --color-custard-energy-nav: hsl(30, 71%, 25%);

    --color-custard-wp-background: hsl(238, 45%, 11%);
    --color-custard-wp-foreground: hsl(36, 97%, 61%);
    --color-custard-wp-nav: hsl(36, 97%, 61%);

    --color-lang-background: hsl(243, 100%, 50%);
    --color-lang-foreground: hsl(243, 100%, 91%);
    --color-lang-nav: hsl(243, 100%, 91%);

    --color-miredo-background: hsl(104, 72%, 23%);
    --color-miredo-foreground: hsl(104, 72%, 58%);
    --color-miredo-nav: hsl(104, 72%, 58%);

    --color-projmgr-background: hsl(224, 63%, 68%);    
    --color-projmgr-foreground: hsl(224, 63%, 18%);
    --color-projmgr-nav: hsl(224, 63%, 18%);

    --color-canaille-background: hsl(129, 100%, 79%);    
    --color-canaille-foreground: hsl(1, 80%, 27%);
    --color-canaille-nav: hsl(1, 80%, 27%);

    --color-stop: 75%;
}

/* global style elements */
body {
    color: var(--color-text);
    background: var(--color-background);
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

a {
    color: var(--color-white);
}

/* layout elements for mobile screens */ 

.slide div, .slide .link {
    margin-bottom: 1rem;    
}

.slide ul {
    margin: 0rem;
}

.slideshow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.slideshow__nav {
    position: fixed;
    display: flex;
    text-align: center;
    margin-bottom: min(10%, 4rem);
    height: 10vh;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.slideshow__nav a,
.slideshow__nav a::after {
    height: 1rem;
    width: 1rem;

}

.slideshow__nav a {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 var(--nav-blur) var(--nav-blur) var(--color-background);
    transition: all var(--transition-duration) ease-in-out;
}

.slideshow__nav a::after {
    content: '';
    position: absolute;
    z-index: 1;
    opacity: 0;
    margin-left: -0.5rem;
    border-radius: 50%;
    box-shadow: 0 0 var(--nav-blur) var(--nav-blur) var(--color-nav);
    transition: opacity var(--transition-duration) ease-in-out;
}

.slideshow__nav a:hover::after {
    opacity: 1;
}

/* layout elements, for larger screens */
@media (min-width: 500px) and (orientation: landscape) {
    
    body {
        padding: 0;
        margin: 0;
        font-size: 1.5em;
    }

    .slideshow {
        position: relative;
        margin: 2rem;
        border-radius: 2rem;
        text-align: center;
        width: 100%;
        max-width: 100vw;
        height: 90%;
    }

    .slides {
        position: relative;
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        height: 100%;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    
    .slides::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

    .slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        margin: 0;
        padding: 5% 15%;
        box-sizing: border-box;
        background: black;
        transform-origin: center center;
        transform: scale(1);
        scroll-snap-align: center;
    }

    .slide ul {
        text-align: left;
    }

    .slide a.slide__previous, .slide a.slide__next {
        background: none;
        border: solid var(--color-nav);
        border-width: 0 4px 4px 0;
    }

    .slide a.slide__previous, .slide a.slide__next,
    .slideshow::before, .slideshow::after {
        position: absolute;
        top: 48%;
        width: 2rem;
        height: 2rem;
        padding: 0.5rem;
        box-sizing: border-box;
    }

    a.slide__previous,
    .slideshow::before {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        left: 5%;
    }

    a.slide__next,
    .slideshow::after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        right: 5%;
    }
    
    .slideshow::before,
    .slideshow::after {
        content: '';
        z-index: 1;
        background: none;
        pointer-events: none;
    }
}

.nav--title {
    background-color: var(--color-title-nav);
}

.slideshow__nav .nav--title:hover::after {
    /* box-shadow: 0 0 var(--nav-blur) var(--nav-blur) var(--color-title-nav); */
}

.slide--pattitude, .slide--pattitude a {
    color: var(--color-pattitude-foreground);
}

.nav--pattitude {
    background-color: var(--color-pattitude-nav);
}

.slideshow__nav .nav--pattitude:hover::after {
    /* box-shadow: 0 0 var(--nav-blur) var(--nav-blur) var(--color-pattitude-nav); */
}

.slide--fantasea, .slide--fantasea a {
    color: var(--color-fantasea-foreground);
}

.nav--fantasea {
    background-color: var(--color-fantasea-nav);
}

.slideshow__nav .nav--fantasea:hover::after {
    /* box-shadow: 0 0 var(--nav-blur) var(--nav-blur) var(--color-fantasea-nav); */
}

.slide--custard-commercial, .slide--custard-commercial a {
    color: var(--color-custard-commercial-foreground);
}

.nav--custard-commercial {
    background-color: var(--color-custard-commercial-nav);
}

.slideshow__nav .nav--custard-commercial:hover::after {
    /* box-shadow: 0 0 var(--nav-blur) var(--nav-blur) var(--color-custard-commercial-nav); */
}

.slide--custard-energy, .slide--custard-energy a {
    color: var(--color-custard-energy-foreground);
}

.nav--custard-energy {
    background-color: var(--color-custard-energy-nav);
}

.slideshow__nav .nav--custard-energy:hover::after {
    /* box-shadow: 0 0 var(--nav-blur) var(--nav-blur) var(--color-custard-energy-nav); */
}

.slide--custard-wp, .slide--custard-wp a {
    color: var(--color-custard-wp-foreground);
}

.nav--custard-wp {
    background-color: var(--color-custard-wp-nav);
}

.slideshow__nav .nav--custard-wp:hover::after {
    /* box-shadow: 0 0 var(--nav-blur) var(--nav-blur) var(--color-custard-wp-nav); */
}

.slide--miredo, .slide--miredo a {
    color: var(--color-miredo-foreground);
}

.nav--miredo {
    background-color: var(--color-miredo-nav);
}

.slideshow__nav .nav--miredo:hover::after {
    /* box-shadow: 0 0 var(--nav-blur) var(--nav-blur) var(--color-miredo-nav); */
}

.slide--lang, .slide--lang a {
    color: var(--color-lang-foreground);
}

.nav--lang {
    background-color: var(--color-lang-nav);
}

.slideshow__nav .nav--lang:hover::after {
    /* box-shadow: 0 0 var(--nav-blur) var(--nav-blur) var(--color-lang-nav); */
}

.slide--projmgr, .slide--projmgr a {
    color: var(--color-projmgr-foreground);
}

.nav--projmgr {
    background-color: var(--color-projmgr-nav);
}

.slideshow__nav .nav--projmgr:hover::after {
    /* box-shadow: 0 0 var(--nav-blur) var(--nav-blur) var(--color-projmgr-nav); */
}

.slide--canaille, .slide--canaille a {
    color: var(--color-canaille-foreground);
}

.nav--canaille {
    background-color: var(--color-canaille-nav);
}

.slideshow__nav .nav--canaille:hover::after {
    /* box-shadow: 0 0 var(--nav-blur) var(--nav-blur) var(--color-canaille-nav); */
}
