$mobile_max_width: 1024px;
$desktop_min_width: $mobile_max_width + 1px;

$border_radius_small: 16px 4px;
$border_radius_large: 32px 8px;

$padding_small: 5px 15px;
$padding_large: 15px 45px;
$padding_frame: 45px 90px;

$margin_form: 20px 0px;